.diaDeCampoSec{
    background-image: url(./multimedia/fondo.jpg);
    background-size: cover;
    background-position: center;
}
#diaDeCampo{
    
    width: 100%;
    height: auto;
    padding: 5%;
    align-items: center;
    justify-content: space-around;

    p{
        text-align: justify;
        width: 300px;
    }
}
.imagenDiaDeCampo-1{
    padding: 1%;
    margin-left:  auto;
    margin-right: auto;
    min-width: 200px;
    width: 100px;
    border-radius: 15%;
    transition: width 2s;

}
.imagenDiaDeCampo-1:hover{
    width: 450px;
}
.imagenDiaDeCampo-2{
    padding: 1%;
    margin-left:  auto;
    margin-right: auto;
    min-width: 200px;
    width: 100px;
    border-radius: 15%;
    transition: width 2s;
}
.imagenDiaDeCampo-2:hover{
    width: 450px;
}
.imagenDiaDeCampo-3{
    padding: 1%;
    margin-left:  auto;
    margin-right: auto;
    min-width: 200px;
    width: 100px;
    border-radius: 15%;
    transition: width 1s;

}
.imagenDiaDeCampo-3:hover{
    width: 450px;
}
@for $incremento from 4 to 1 {
    .imagenDiaDeCampo-#{$incremento} {
        width: 100px*$incremento;
    }
}
@for $in from 1 through 3 {
    .bucle-#{$in} {
        background-color: lighten($backgroundColorBlack, $in * 10%);
    }
}