.reservar{
    background-image: url(../multimedia/caminar/caminar1.jpg);
    background-color: black;
    padding: 20px;
    & table{
        padding: 15%;
        margin: 2%;
    }
}
.reservarBici{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: yellowgreen;
    & img{
        padding: 2%;
        border-radius: 10%;
    }
    }
.reservarDiaDeCampo{
    @extend #reservarBici;
}
#reservarWalking{
    @extend #reservarBici;
}
// #reservarBot{
//     font-family: 'Montserrat', sans-serif;
//     font-size: large;
//     text-align:start;
//     text-decoration: none;
//     color: yellowgreen;
//     background-color: black;
//     padding: 10px;
//     margin: 15px;
//     position:fixed;
//     bottom: 5%;
//     left: 10%;
// }
// #reservarBot:hover{
//     background-color: yellowgreen;
//     color: black;
// }
@for $in from 1 through 3 {
    #bucle-#{$in} {
        background-color: darken($superYellow, $in * 30%);
        color: lighten($backgroundColorGrey, $in*10%);
        // font-size: ($mediano, $in * 10%);
    }

}
#walkingTour-texto{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 5%;
    font-size: 15px;
    text-align: center;
    background-image: url(../multimedia/bici/AdobeStock_335226857_Preview.jpeg);
    background-size: cover;
    background-position: center;
    p{
        font-size: 15px;
        background-color: rgba(0, 0, 0, 0.76);
    }
    iframe{
        width: auto;
        height: 60%;
        grid-area: ubicacion;
        /* padding: 1%; */
        padding-left: 10%;
    }
}
#texto1{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    grid-area: texto1;
    padding: 1%;
    padding-top: 1%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    height: auto;
    background-color: $backgroundColorBlack;
    color: $fontColor;
}
#texto2{
    @extend #texto1;
}
table{
    width: 50%;
    height: 200px;
    transition: width 2s, height 2s;
}
table:hover{
    width: 100%;
    height: auto;
}
