$fontMont:'Montserrat', sans-serif;
$fontTamanio: 25px;
$backgroundColorBlack: black;
$backgroundColorGrey: grey;
$backgroundColorYellow: yellowgreen;
$superYellow: rgb(192, 205, 50);
$fontColor: yellowgreen;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
@mixin titulos($background-color, $font-family, $font-size) {
    background-color: $background-color;
    font-family: $font-family;
    font-size: $font-size;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior:smooth;
}
body {
    background-color: $backgroundColorGrey;
    width: 100%;
}
p{
    background-color: $backgroundColorBlack;
    color: $fontColor;
    text-align: justify;
    font-size: $fontTamanio;
}
main{
    background-image: url(./multimedia/cyclist-resting-silhouette-at-sunset-active-outdoor-sport-concept.jpg) ;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: auto;
}
h6{
    font-size: 30px;
}
.presentacion{
// margin: 5px;
padding: 2%;
        div{
    font-size:larger;
    text-align:justify;
    margin: 2px;
    }
}
.video{
margin-top: 1%;
}
#verMas {
height: auto;
padding: 20px;
background-color: $backgroundColorBlack;
    & ul {
    padding-top: 15px;
    list-style: none;
    text-align: center;
    }
        & li {
        text-decoration: none;
        font-family: $fontMont;
        }
            a {
            width: 300px;
            height: 300px;
            color: $fontColor;
            font-family: $fontMont;
            text-decoration: none;
            font-size: x-large;
            }
}
#verMas a:hover {
color: grey;
}

#call {
position: relative;
top: 20px;
box-sizing: border-box;
color: grey;
width: 250px;
height: auto;
float: center;
background-color: rgba(0, 0, 0, 0.804);
padding: 20px;
font-family: $fontMont;
margin-left: 10%;
border: 2px solid yellowgreen;
    h5 {
        color: $fontColor;
        background-color: $backgroundColorBlack;
    }
        & p {
        margin-bottom: 20px;
        color: $superYellow;
    }
            & a {
            background-color: $superYellow;
            color: grey;
            text-decoration: none;
            padding: 2px;
            width: 10%;
            height: 10%;
        }
}
#call a:hover {
    background-color: $backgroundColorBlack;
}
#verMass {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%
}
main p {
    background-color: rgba(0, 0, 0, 0.811);
    height: auto;
}
h1 {
    @include titulos(rgba(192, 205, 50, 0.913), 'Montserrat', xx-large);
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    padding: 15px;
}
h2 {
    @include titulos(rgba(192, 205, 50, 0.952), 'Montserrat', x-large);
    text-transform: capitalize;
    text-align: center;
    color: grey;
    padding: 10px;
    width: 50%;
    height: auto;
    transition: 2s;
    transition-timing-function: ease-out;
}
h2:hover{
    width: 100%;
    height: auto;
}
h3 {
    @include titulos(rgba(192, 205, 50, 0.952), 'Montserrat', x-large);
    text-transform: capitalize;
    text-align: center;
    color: grey;
    padding: 10px;
    width: 50%;
    height: auto;
    transition: 1s;
    transition-timing-function: ease-out;
}
h3:hover{
    transition-timing-function: ease-out;
    width: 100%;
    height: auto;
}
h4 {
    @include titulos(rgba(192, 205, 50, 0.904), 'Montserrat', 25px);
    text-transform: capitalize;
    color: black;
    padding: 15px;
}
.movimiento {
    background-color: $backgroundColorBlack;
    color: $fontColor;
    font-size: x-large;
}
footer {
    background-color: $superYellow;
    min-height: 50px;
    width: 100%;
    text-align: center;
    grid-area: footer;
    p {
        color: grey;
        font-family: $fontMont;
        font-size: 25px;
        text-transform: capitalize;
        padding-bottom: 20px;
    }
    i {
        font-size: 40px;
        color: grey;
        letter-spacing: 15px;
    }
} 
#inicio {
    color: grey;
    font-size: 20px;
    font-family: $fontMont;
    text-decoration: none;
    border: 3px solid grey;
    margin-left: 1%;
}

p {
    font-family: $fontMont;
    font-size: 15px;
}
#reservarBot {
    width: 8%;
    height: 8%;
    font-family: $fontMont;
    font-size: large;
    text-align: start;
    text-decoration: none;
    color: $fontColor;
    background-color: $backgroundColorBlack;
    // padding: 10px;
    // margin: 15px;
    position: fixed;
    bottom: 5%;
    left: 10%;
    animation-name: reservar;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
    animation-direction: alternate;
}
#reservarBot:hover {
    background-color: $backgroundColorYellow;
    color: black;
}
@keyframes reservar {
    0%   {background-color: black; left:10%; right:10%}
    25%  {background-color: rgba(255, 255, 0, 0.829);left:10%; right:50%}
    50%  {background-color: yellowgreen;left:50%; right:50%}
    100% {background-color: black;left:50%; right:10%}
}
.subir {
    height: 50px;
    width: 50px;
    background-color: $backgroundColorBlack;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    color: grey;
    border: 3px solid grey;
    border-radius: 30%;
}






/*# sourceMappingURL=estilos.css.map */

@import "./scss/resets";
@import "./scss/mediaq";
@import "./scss/header";
@import "./scss/variables";
@import "./scss/bici";
@import "./scss/diaDeCampo";
@import "./scss/walking";
@import "./scss/nosotros";
@import "./scss/registrarse";
@import "./scss/contacto";
@import "./scss/reservar";


#reservarBici{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: yellowgreen;
    & img{
        padding: 2%;
        // min-width: 400px;
        border-radius: 10%;
    }
}

#reservarBot{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    text-align:start;
    text-decoration: none;
    color: yellowgreen;
    background-color: black;
    padding: 10px;
    // margin: 15px;
    position:fixed;
    bottom: 5%;
    left: 10%;
}
#reservarBot:hover{
    background-color: yellowgreen;
    color: black;
}
@for $in from 1 through 3 {
    #bucle-#{$in} {
        background-color: darken($superYellow, $in * 30%);
        color: lighten($backgroundColorGrey, $in*10%);
        // font-size: ($mediano, $in * 10%);
    }

}
#walkingTour-texto{
    font-size: 15px;
    text-align: center;
    p{
        font-size: 15px;
    }
    iframe{
        width: auto;
        height: 60%;
        grid-area: ubicacion;
        /* padding: 1%; */
        padding-left: 10%;
    }
}
#texto1{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    grid-area: texto1;
    padding: 1%;
    padding-top: 1%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    height: auto;
    background-color: $backgroundColorBlack;
    color: $fontColor;
}
#texto2{
    @extend #texto1;
}